snippet main
	int main(int argc, const char* argv[]) {
		${1}
		return 0;
	}
snippet inc
	#include ${1}
snippet if
	if (${1}) {
	}
snippet el
	else {
		${1}
	}
snippet do
	do {
		${2}
	} while (${1});
snippet wh
	while (${1}) {
	}
snippet fo
	for (${1}) {
	}
snippet l
	logging(${1});
snippet f
	${1}() {
	}
snippet pb
	push_back(${1});
